<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link rel="icon" href="leaf.png">
    <link rel="stylesheet" href="comment.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
     <!--header-->
     <header>
        <div class="main">
            <div class="logo">
              <i class='bx bxl-spring-boot bx-tada-hover' style='color:#ffffff;'></i><h1>Moneybook</h1>
            </div>

        <ul class="navbar">
           <li><a href="index.html">Home</a></li>
           <li><a href="About.html">About</a></li>
        </ul>
    </div>
      </header> 
      <!-- Comment Area -->
<div id="app">
  <h1 class="extra">Add a comment.</h1>
  <form @submit.prevent="addComment">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      placeholder="Enter Your Name here"
      v-model="name"
      required
    >

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      placeholder="Enter Your Email here"
      v-model="email"
      required
    >

    <label for="comment">Comment:</label>
    <textarea
      id="comment"
      placeholder="Enter Your Comment here"
      v-model="comment"
      required
    ></textarea>

    <button class="click" type="submit">Submit</button>
  </form>

  <div v-if="comments.length">
    <h2>Comments:</h2>
    <ul>
      <li v-for="(comment, index) in comments" :key="index">
        <strong>{{ comment.name }}</strong> ({{ comment.email }}): {{ comment.comment }}
      </li>
    </ul>
  </div>
</div>
<hr>
<!-- Vue.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      name: '',
      email: '',
      comment: '',
      comments: []
    },
    methods: {
      addComment() {
        // Add the new comment to the comments array
        this.comments.push({
          name: this.name,
          email: this.email,
          comment: this.comment
        });

        // Save comments to sessionStorage
        this.saveComments();

        // Clear the input fields
        this.name = '';
        this.email = '';
        this.comment = '';
      },
      saveComments() {
        // Use sessionStorage instead of localStorage
        sessionStorage.setItem('comments', JSON.stringify(this.comments));
      },
      loadComments() {
        // Load comments from sessionStorage
        const storedComments = sessionStorage.getItem('comments');
        if (storedComments) {
          this.comments = JSON.parse(storedComments);
        }
      }
    },
    mounted() {
      // Load comments when the component is mounted
      this.loadComments();
    }
  });
</script>
 <!--footer area--> 
 <footer>
    <div class="row">
      <div class="list">
          <h4> Contact Info</h4>
          <ul>
            <p>Banduragoda,</p>
            <p>Mirigama,</p>
            <p>Sri Lanka.</p>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="blank"><p class="email">sarasidasu@gmail.com</p></a>
            <h4>+94(075)6962266</h4>
        </ul>
         </div>
         <div class="list">
         <h4>Customer Care</h4>
         <ul> 
           <a href="About.html"><p>About</p></a>
           <a href="comment.html"><p>Comment</p></a>
           <a href="Teams.html"><p>Terms & Conditions</p></a>
           </ul>
         </div>
    <div class="list">
      <h4>Follow us</h4> 
      <div class="social"> 
        <a href="https://www.facebook.com/login/" target="blank"><i class='bx bxl-facebook-circle bx-tada' style='color:rgb(45, 11, 0)' ></i></a>
        <a href="https://www.instagram.com/accounts/login/" target="blank"><i class='bx bxl-instagram bx-burst' style='color:rgb(45, 11, 0)' ></i></a>
        <a href="https://twitter.com/" target="blank"><i class='bx bxl-twitter bx-spin' style='color:rgb(45, 11, 0)' ></i></a>
        <a href="https://lk.linkedin.com/"target="blank"><i class='bx bxl-linkedin-square bx-flashing' style='color:rgb(45, 11, 0)' ></i></a>
    </div>
       </div>
      </div>
    <hr>
    <div class="End-text">
      &copy;Copyright @2023 All right reserved | Made with by Sarasi Karunanayaka
     </div>
</body>
</html>